<div *ngIf="personaLogueada">
  <!-- BANNER -->

  <div class="banner">
    <img src="{{personaLogueada.url_banner}}" class="img-fluid">
  </div>

  <!-- FOTO PERFIL Y ACERCA DE MI -->
  <div class="content">
    <div>
      <img src="{{personaLogueada.url_foto}}" class="img-fluid rounded-circle profile-img">
    </div>
    <div class="row justify-content-start">
      <div class="col-4">
        <h1 class="text-center">{{personaLogueada.nombre}} <br> {{personaLogueada.apellido}}</h1>
        <h2 class="text-center">{{personaLogueada.titulo}}</h2>
      </div>
      <div class="col-8">
        <div *ngIf="esModoEditar">
          <button (click)="openModalWithComponent(personaLogueada)" class="btn btn-outline-success float-end"
            type="button" data-toggle="tooltip" data-placement="top" title="Editar perfil">
            <i class="fa fa-paint-brush"></i>
          </button>
        </div>
        <h3 class="col-4"> Acerca de mi</h3>
        <p>{{personaLogueada.acerca_de_mi}}</p>
      </div>
    </div>
  </div>
</div>