<!-- NAVBAR  -->

<div class="my-navbar">
  <img src="https://raw.githubusercontent.com/MacaVal/imagenes-portfolio/main/argentinaprogramayoprogramo.png"
    class="nav-img round-img img-fluid">
  <button (click)="openModal()" type="button" class="btn btn-outline-light float-end marginbutton">
    Login
  </button>
  <a href="https://www.linkedin.com/in/macarena-bel%C3%A9n-valverde-melito-21946b160/" target="_blank">
    <img src="https://raw.githubusercontent.com/MacaVal/imagenes-portfolio/main/linkedin.png"
      class="marginlogos img-fluid rounded float-end" width="30px">
  </a>
  <a href="https://www.instagram.com/lapitufadelentrepiso/" target="_blank">
    <img src="https://raw.githubusercontent.com/MacaVal/imagenes-portfolio/main/instagram.png"
      class="marginlogos img-fluid rounded float-end" width="30px">
  </a>
</div>